name: Build Static Nginx (Multi-Version)

on:
  workflow_dispatch: # 手动触发，方便随时更改版本

# 在这里集中管理所有版本号
env:
  NGINX_VERSION: "1.28.1"
  OPENSSL_VERSION: "3.0.15"
  PCRE2_VERSION: "10.42"
  ZLIB_VERSION: "1.3.1"

jobs:
  build-static:
    name: Build Nginx ${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, arm64]
    
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Static Build in CentOS 7
        run: |
          docker run --rm --platform linux/${{ matrix.arch }} \
            -v ${{ github.workspace }}:/workspace \
            -e NGINX_VERSION=${{ env.NGINX_VERSION }} \
            -e OPENSSL_VERSION=${{ env.OPENSSL_VERSION }} \
            -e PCRE2_VERSION=${{ env.PCRE2_VERSION }} \
            -e ZLIB_VERSION=${{ env.ZLIB_VERSION }} \
            centos:7 /bin/bash -c "
              # 1. 修复 CentOS 7 Yum 源 (由于已停止维护，需指向 Vault)
              sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-*
              sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-*
              
              # 2. 安装编译环境
              yum install -y gcc gcc-c++ make wget perl-core perl-IPC-Cmd
              
              # 3. 下载并解压所有依赖源码
              cd /tmp
              wget https://www.openssl.org/source/openssl-\${OPENSSL_VERSION}.tar.gz && tar -zxf openssl-\${OPENSSL_VERSION}.tar.gz
              wget https://github.com/PCRE2Project/pcre2/releases/download/pcre2-\${PCRE2_VERSION}/pcre2-\${PCRE2_VERSION}.tar.gz && tar -zxf pcre2-\${PCRE2_VERSION}.tar.gz
              wget https://zlib.net/zlib-\${ZLIB_VERSION}.tar.gz && tar -zxf zlib-\${ZLIB_VERSION}.tar.gz
              
              # 4. 准备 Nginx 源码 (如果仓库里没有，自动从官方下载)
              # 如果你仓库里有 src/nginx 文件夹，可以删掉下面这两行下载代码
              wget http://nginx.org/download/nginx-\${NGINX_VERSION}.tar.gz && tar -zxf nginx-\${NGINX_VERSION}.tar.gz
              cd nginx-\${NGINX_VERSION}

              # 5. 执行静态编译配置
              ./configure --prefix=/usr/local/nginx \
                  --with-http_ssl_module \
                  --with-http_v2_module \
                  --with-http_realip_module \
                  --with-http_stub_status_module \
                  --with-http_gzip_static_module \
                  --with-stream \
                  --with-stream_ssl_module \
                  --with-stream_realip_module \
                  --with-openssl=/tmp/openssl-\${OPENSSL_VERSION} \
                  --with-pcre=/tmp/pcre2-\${PCRE2_VERSION} \
                  --with-zlib=/tmp/zlib-\${ZLIB_VERSION} \
                  --with-cc-opt='-O3 -static' \
                  --with-ld-opt='-static'

              make -j\$(nproc)
              
              # 6. 将产物移动到挂载目录
              mkdir -p /workspace/dist
              cp objs/nginx /workspace/dist/nginx-\${NGINX_VERSION}-static-${{ matrix.arch }}
            "

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: nginx-${{ env.NGINX_VERSION }}-${{ matrix.arch }}
          path: dist/nginx-${{ env.NGINX_VERSION }}-static-${{ matrix.arch }}
